
.smile-container {
	position: relative;
	/*background-color: rgba(255,255,255,.1);*/
	margin: 0 auto;
	padding-bottom: 5rem;
	margin-left: -8.08%;
	margin-right: -8.08%;
	/*height: 320px;*/
	/*max-width: 320px;*/


/*	&:before {
		content: '';
		display: block;
		padding-top: 100%;
	}
*/
}


#smile {
	display: block;
	position: relative;
	height: 320px;
	width: 320px;
	/*transform: translateX(-50%);*/

	/*background-color: rgba(255,255,255,.1);*/
	margin: 0 auto;
}

#contacts-btn {
	position: absolute;
	left: 50%;
	bottom: 2rem;
	min-width: 10em;
	transform: translateX(-50%);
	z-index: 10;

	background-color: hsl(0,0%,92%);
	&:hover {
		background-color: hsl(0,0%,100%);
	};
}